@model PeopleViewModel


<table class="table table-striped">
	<tr class="border-bottom">
		<th>@Html.DisplayNameFor(m => Model.People.FirstOrDefault().Name)</th>
		<th>@Html.DisplayNameFor(m => Model.People.FirstOrDefault().PhoneNumber)</th>
		<th>@Html.DisplayNameFor(m => Model.People.FirstOrDefault().City)</th>
		<th>&nbsp;</th>
	</tr>

	@{
		foreach(Person person in Model.People)
		{
			if(string.IsNullOrWhiteSpace(Model.SearchPhrase)
			|| person.Name.Contains(Model.SearchPhrase, StringComparison.InvariantCultureIgnoreCase)
			|| person.City.Contains(Model.SearchPhrase, StringComparison.InvariantCultureIgnoreCase))
			{
				<tr>
					<td>@Html.DisplayFor(mi => person.Name)</td>
					<td>@Html.DisplayFor(mi => person.PhoneNumber)</td>
					<td>@Html.DisplayFor(mi => person.City)</td>
					<td><a asp-controller="People" asp-action="RemovePerson" asp-route-personId="@person.PersonId" class="btn btn-outline-danger btn-sm">Delete</a></td>
				</tr>
			}
		}
	}

</table>
