
@model PersonModel

<div class="row py-2 border-bottom row-striped">
	<div class="col-3">@Model.Name</div>
	<div class="col-2">@Model.PhoneNumber</div>
	<div class="col-2">@Model.City.Name</div>
	<div class="col-3">

		@{
			List<string> languages = new List<string>();
			foreach(var lang in Model.PersonLanguages)
			{
				languages.Add(lang.Language.Name);
			}
			<span>@string.Join(", ", languages)</span>
		}

	</div>


	<div class="col-2 justify-content-center">

		<a class="btn btn-light btn-sm fw-bold"   asp-controller="Person" asp-action="EditPerson" asp-route-personId=@Model.PersonId>Edit</a>
		@if(User.IsInRole("admin"))
		{
			<a class="btn btn-danger btn-sm fw-bold" onclick="removePersonByIdArg(@Model.PersonId)">X</a>
		}

	</div>

</div>