
@model PersonModel

<div class="row py-2 border-bottom row-striped">
	<div class="col-1">@Model.PersonId</div>
	<div class="col-3">@Model.Name</div>
	<div class="col-2">@Model.PhoneNumber</div>
	<div class="col-2">@Model.City.Name</div>
	<div class="col-3">

		@{
			List<string> languages = new List<string>();
			foreach(var lang in Model.PersonLanguages)
			{
				languages.Add(lang.Language.Name);
			}
			<span>@string.Join(", ", languages)</span>
		}

	</div>


	<div class="col-1">
		@if(User.IsInRole("admin"))
		{
			<a class="btn btn-danger btn-sm fw-bold float-start" onclick="removePersonByIdArg(@Model.PersonId)">X</a>
		}
		else
		{
			<span>&nbsp;</span>
		}

	</div>

</div>