@* Person *@
@model PersonAddEditViewModel

@{
	ViewData["Title"] = Model.SiteTitle;
}


<div class="container-lg mt-3">

	<h1 class="text-center">@Model.SiteTitle</h1>

	<form method="post" asp-controller="Person" asp-action="@Model.SelectedAction" class="my-3">
		<input asp-for="PersonId" value=@Model.PersonId hidden />

		<div class="">
			<label asp-for="Name" class="form-label">@Html.DisplayNameFor(model => model.Name): </label>
			<input asp-for="Name" type="text" class="form-control" />
		</div>

		<div class="">
			<label asp-for="PhoneNumber" class="form-label">@Html.DisplayNameFor(model => model.PhoneNumber): </label>
			<input asp-for="PhoneNumber" type="tel" class="form-control" />
		</div>

		<div class="">
			<label asp-for="CityId" class="form-label">@Html.DisplayNameFor(model => model.CityId): </label>
			<select asp-for="CityId" asp-items="@Model.Cities" class="form-select" size="1"></select>
		</div>

		<div class="">
			<label asp-for="LanguageIds" class="form-label">@Html.DisplayNameFor(model => model.LanguageIds): </label>
			<select asp-for="LanguageIds" asp-items="@Model.Languages" class="form-select" size="5"></select>
		</div>
		<div class="d-grid">
			<button type="submit" class="btn btn-success">@Model.SubmitButtonText</button>
		</div>
	</form>
</div>