
@model Person

<div class="row py-2 border-bottom row-striped">
	<div class="col-1">@Model.PersonId</div>
	<div class="col-4">@Model.Name</div>
	<div class="col-3">@Model.PhoneNumber</div>
	<div class="col-3">@Model.City</div>
	<div class="col-1"><a class="btn btn-danger btn-sm fw-bold float-start" onclick="removePersonByIdArg(@Model.PersonId)">X</a> </div>

</div>